/* Home Section - Hauptelemente */

html {
    /*font: 600 12px Rajdhani, sans-serif;*/
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    font-family: "Rajdhani", sans-serif;
    letter-spacing: 0.035em;
    font-weight: 200;
    color: rgba(136, 66, 46, 1);
    padding-top: 4rem;
}

.container {
    text-align: center;
    width: 100%;
}

section{
    width: 1280px;
    margin-top: 4em;
    padding: 2em 0;
}

p {
    font-size: 1.2em;
}

/* Überschriften (und Links)*/

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: rgba(136,66,46,1);
    margin: 0.5em 0;
}

h1.intro_text{
 text-transform: none;
}

@media(max-width: 800px){
    h1.intro_text{
        font-size: 0.7em;
}
}

h2 {
    font: 600 1.7em Rajdhani, sans-serif;
    margin-bottom: 70px;
    color: rgba(136, 66, 46, 1);
    text-align: center;
    letter-spacing: 0.1em;
}

h3.title{
    font-size: 1em;
    text-align: left;
    font: 600 1em Rajdhani, sans-serif;
}

h4{
    text-align: left;
    font-size: 0.7em;
    color: rgb(177, 131, 117);
}



 a {
    color: rgb(177, 131, 117);
    text-align: left;
    font: 600 1em Rajdhani, sans-serif;
    padding: 0.6em auto;
}


h3.panel-title{
    background-color: white;
    text-align: left;
    margin: 8px 0;
    padding: 6px;
    width: 100%;
    height: 2em;
    font-size: 1em;
    text-align: left;
    font: 600 1em Rajdhani, sans-serif;
    color: rgb(177, 131, 117);
    text-align: left;
    font: 600 1em Rajdhani, sans-serif;
}



.active, .accordion:hover {
    background-color: rgb(177, 131, 117);
}


.panel {
    margin: 2px 0;
    padding: 10px 24px;
    background-color: white;

}

#accordion{
    max-width: 1280px;
    width: 100%;
}

/* Intro Sektion */

.description {
    color: white;
}

a.scroll_icon:click {
    transition-delay: 2.5s;
}
#kontaktfeld{
    background-color: white;
}

#whitetext{
    padding-top: 1em;
    color: white;
}
h2,#whitetext{
    padding: 0;
    margin: 0.4em 0 2em 0;
}
#schwarze-schrift{
    padding 0.5em auto;
}

#intro {
    margin: 0;
    padding: 4em 0 0.3em;
    display: table;
    width: 100%;
    text-align: center;
    font: 300 2em Rajdhani, sans-serif;
    font-size: 40pt;
    color: rgba(136, 66, 46, 1);
    background: url(../images/background_top.png) no-repeat scroll center top transparent;
    background-color: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#Firmenlogo{
    margin-bottom: 0.8em;
}

#kontakt_btn_header{
    margin-bottom: 128px;
    margin-left: 0.35em;
    background-image: url(../images/kontakt_btn_header2.png);
    background-color: rgba(0,0,0,0);
    height: 89px;
    width: 138px;
    border-style: none;
}

#kontakt_btn_header{
    margin-bottom: 128px;
    margin-left: 0.35em;
    background-image: url(../images/kontakt_btn_header.png);
    background-color: rgba(0,0,0,0);
    height: 89px;
    width: 138px;
    border-style: none;
}
#kontakt_btn_header:hover{
    margin-bottom: 128px;
    margin-left: 0.35em;
    background-image: url(../images/kontakt_btn_header_active2.png);
    background-color: rgba(0,0,0,0);
    height: 89px;
    width: 138px;
    border-style: none;
}
.header_buttons {
    width: 100%;
    align-items: center;
}
#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro_text{
    color: rgba(136, 66, 46, 1);
}
#intro .intro-body H1 {
    padding: 1em 2em;
    font-weight: 300;
    text-transform: initial;
    color: rgba(133, 66, 44, 1);
}

#intro .intro-body .brand-heading {
    color: #E75926;
    text-shadow: 0 4px #a13e1a;
}

#intro .intro-body .intro-text {
    font-size: 18px;
}

@media(max-width:768px) {
    #intro {
        height: 100%;
        padding: 2.5em 0 0;
    }
    #intro .intro-body .intro-text {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 100px;
        color: rgba(133, 66, 44, 1);
    }
}

#kontakt_btn_header : hover{

}


/* ####Projektbeschreibung ######*/


.projekte_beschreibung, .stellenausschreibung{
    height: 400px;
    margin: 4px auto;
    background-color: #f7f7f7;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}
@media (max-width: 1000px){
    .row.projekte_beschreibung{
        height: 100%;
        margin: auto auto;
        background-color: #f7f7f7;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        justify-content: center!important;
        display: block;
        align-items: center;
        padding: 2em auto;
    }
    .col-md-12.col-sm-12{
        margin: 0em auto;
        padding: 2.5em 1em 0;
    }
    #Kaffeemusik {
        display: inline-flex;
    }

    #prj_btn{
        margin-bottom: 3em;
            }
    #schwarze-schrift{
        margin: 0 0 6em;
        }
}

#projekte {
    width: 100%;
}

h4.title.h3_beschreibung {
    margin-bottom: 3em;
     font-size: 1em;
    text-align: left;
    font: 600 1em Rajdhani, sans-serif;

}

#prj_btn {
    background-image: url(../images/projekte_button.png);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-style: none;
    position: absolute;
    right: 24px;
    bottom: -0.8em;
    display: block;
}


#prj_btn:hover {
    background-image: url(../images/projekte_button_active2.png);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-style: none;
    position: absolute;
    right: 24px;
    bottom: -15px;
}

/* Links Stellenausschreibung inaktiv */



.text-right{
    text-align: right;
    overflow: auto;
    max-width: 50px;
}


/* Sektionen IDs */
#jobs{
    background-color: #f7f7f7;
    width: 100%;
    margin: 0 0;
    padding: 13em 0;
}

a:hover {
    color:  #88422e;
}

#Philosophie{
    height: 708px;
    width: 100%;
    padding-top: 10em;
    margin: 0 0;
    background: rgb(136,66,46); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(136,66,46,1) 20%, rgba(173,113, 89,1) 50%, rgba(136,66,46,1) 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(136,66,46,1) 20%,rgba(173,113, 89,1) 50%,rgba(136,66,46,1) 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(136,66,46,1) 20%,rgba(173,113, 89,1) 50%,rgba(136,66,46,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88422e', endColorstr='#8c4733',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@media (max-width: 765px){
    #Philosophie p{
        margin: 0 2em;
        font-size: 1.1em;
        padding: 1em auto;
    }
    section#Philosophie {
        padding-top: 5em;
    }
    h2#whitetext{
        margin: 1em auto;
    }
}

#Kontakt{
    margin: 12em auto;
    padding: 1em;
    width: 100%;
    max-width: 1280px;
}

/* Colums */
#jobs.row {
    max-width: 1280px;
}


.row{
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}
.row.projekte_beschreibung{
    margin: 15px auto;
    width: 100%;
}
.col-md-12.col-lg-12{
 width: 100%;
 margin-left: 0;
 margin-right: 0;

}

.col-md-12.col-lg-7 h2{
    text-align: left;
    color: rgb(137, 67, 46);
}
.col-md-12.col-lg-7 #h2_beschreibung{
    text-align: left;
    color: rgb(137, 67, 46);
}
.col-md-12.col-lg-7 p{
    text-align: left;
    color: #000;
    height: 90%;
}


.btn-default {
    color: rgba(133, 66, 44, 1);
    background: rgba(133, 66, 44, 1);
    border: 0;
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    color: rgba(136, 66, 46, 1);
    background-color: #a13e1a;
}

.section-title.center {
    padding: 30px 0;
}

.section-title h2,
.section-title.center h2 {
    margin-bottom: 30px;
}


/* Navbar-Sektion */
#Logo{
    position:fixed;
    left: 15px;
    top: 8px;
    z-index: 1100;
}
#logo_platzhalter{
    width: 192px;
    height: 50px;
}

.navbar-nav.navbar-right {
    float: right;
    text-align: right;
    width: 100%;
    display: block;
}

@media (max-width: 765px){

 li.nav-item {
        text-align: center !important;
        display: block;

    }
 @media (max-width: 1000px){
    .navbar .navbar-nav .nav-link {
        text-align: center !important;
        width: 100%;
        display: block;
    }
}
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.nav-item .nav-link, {
    font-family: Rajdhani, 300, sans-serif;
}

a .nav-link .page-scroll{
  padding-bottom: 12px;
  overflow: visible;
}

.navbar {
    background-color: #ffffff;
    position: fixed;
    margin: auto;
    padding-bottom: 0;
}


.navbar-brand {
    margin-left: 3em;
}

.navbar-nav.navbar {
    flex: 1 1 auto;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {

    cursor: pointer;
}
.navbar-brand{
    display: block;
    position: relative;
    height: auto;
}

.navbar .navbar-text {
    border-style: none;
}

.navbar-right{
    float: right;
    text-align: right;

}

.navbar .navbar-nav .nav-link {
    cursor: pointer;
    border-bottom: 3px solid #fff;
    float: right;
    margin: 0 0.25em;
    transition: 0.6s;
    padding-bottom: 16px;
    padding-top: 16px;
}


.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    transition: 0.3s;
    color: #88422e;
    border-bottom: 3px solid;
    border-image: linear-gradient(to left, rgba(136,66,46,1)5%, #cf9883 50%, rgba(136,66,46,1))95% 10; /* FF3.6-15 */
    /*background: -webkit-linear-gradient(to right rgba(136,66,46,1) 50%,rgba(173,113, 89,1) 50%, rgba(136,66,46,1)); */
    -webkit-border-image:
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1;
      border-image: linear-gradient(to left, rgba(136,66,46,1)5%, #cf9883 50%, rgba(136,66,46,1))95% 10;

}


.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #b18375;
    background-color: #000000;
}

.navbar .navbar-toggler {
  border-image: linear-gradient(to left, rgba(136,66,46,1), rgba(173,113, 89,1), rgba(136,66,46,1)) 10;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  border-image: linear-gradient(to left, rgba(136,66,46,1), rgba(173,113, 89,1), rgba(136,66,46,1)) 10;
    background-color: #ffffff;
    color: rgba(173,113, 89,1)
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: white;
    border-color: white;
    background-color: rgba(173,113, 89, 0.1);
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #b18375;
    background-color: #ffffff;
    float: right;
}

.navbar .navbar-link {
    color: #b18375;
    float: right ! important;
    display: flex;
    background-color: #ffffff;
}

.navbar .navbar-link:hover {
    color: #b18375;
    z-index: 1001;
}

.navbar-toggle.navbar-header {
    border:1px solid green;
}

.navbar-toggler-icon {
    background-color: #ffffff;
    color: #b18375;
    z-index: 1000;
}

.navbar-toggler{
    position: absolute;
    right: 2em;
    top: 0.5em;

    z-index: 1;
    }

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #b18375;
        background-color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b18375;
        background-color: #ffffff;
        display: flex;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b18375;
        background-color: #ffffff;
        display: flex;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #b18375;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b18375;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b18375;
        background-color: #ffffff;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #b18375;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b18375;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b18375;
        background-color: #ffffff;
    }
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #b18375;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b18375;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b18375;
        background-color: #ffffff;}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b18375;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #b18375;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #b18375;
    background-color: #ffffff;
}

}

@media (max-width: 768px){
    #Kontakt.col-md-6.col-md-6.col-xs-12{
    text-align: center;
    display: block;
    width: 6em;
    margin: 0 auto;
}
.text-right2{
    float: center;
    text-align: center;
}
}


.text-right2{
    float: right;
    text-align: center;
}
@media (max-width: 900px){
    .text-right2 {
        float: none;
    }

}

#Kontakt{

    min-width: 295px;
    padding: 4em 2em;
}

#footer {
    background: #f7f7f7;
    color: #884422;
    padding-top: 10px!important;
    width: 100%;
}
p.nav-link{
    float: right;
}


#jobs img {
    heigth: 200px;
}

#link_rechts{
    padding-left: 0.5em;
}

p#link_rechts2 {
    min-width: 250px;
    margin-left: 1.5em;
}

#link_rechts {
    padding: 0;
    margin: 0;
    max-width: 250px;
}

@media (max-width: 768px){
    #link_rechts{
    padding: 0;
    margin: 0;
    margin-left: 0.5em !important;
    margin-right: auto!important;
    min-width: 250px;
}}

#text-right1{
    display: block;
    margin: 0 auto;
    position: relative;

}

.text-right2.col-xs-11{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 9em;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right;
    content:"\f067";
}

#Kontakt h2{
  padding-top: 0px;
}
#trennlinie_kontakte{
    border-left: 2px solid lightgrey; /*ister 2 here as default*/
    padding-left: 2em;
    padding-bottom: 0;
    height: 5em;
    width: 1em;
    max-width: 60px;
}

@media (max-width: 768px){
    #trennlinie_kontakte{
        border-right: 2px solid lightgrey; /*ister 2 here as default*/
        padding-right: 2em;
        border-left: 2px solid white; /*ister 2 here as default*/
        padding-right: 3em;
        padding-bottom: 0;
        padding-right: 2em;
        height: 5em;
        width: 1em;
        max-width: 60px;
        margin-left: auto;
        margin-right: 0px!important;
        float: right;
    }
}
#Datenschutz{
    padding-left: 2em;
}

#footer a {
    color: rgba(136,66,46,1);
    font-weight: 700;
}

#footer p.text-left {
    color: black;
    padding-top: 0.5em;

}

#impressum{
    padding-left: 3em;
}

#impressum h2{
   text-align: left;
}
#Datenschutz h2{
   text-align: left;
}

#Datenschutz{
    padding-left: 3em;
}

#Datenschutz{
    text-align: left;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}


/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}


.navbar-toggler-icon {
  background: #fff!important;
}

.navbar-toggler-icon .fa:before {
  color: #b87c67;
font-size: 29px;


}

.navbar .navbar-toggler {
  border: 0 none!important;
}

/* von main.js mit clicked aufgerufen */

.navbar .clicked {
  border-bottom: 3px solid red!important;

}
