/* Home Section - Hauptelemente */

html {
    /*font: 600 12px Rajdhani, sans-serif;*/
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "Rajdhani", sans-serif;
    letter-spacing: 0.03em;
    font-weight: 300;
    color: rgba(136, 66, 46, 1);
    padding-top: 4rem;
}

#container {
    text-align: center;
    width: 100%;
}

section{
    width: 1280px;
    margin-top: 4em;
    padding: 6em 0;
}

p {
    font-size: 1.2em;
}

/* Überschriften (und Links)*/

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: rgba(136,66,46,1);
    margin: 0.5em 0;
}
h2 {
    font: 600 1.7em Rajdhani, sans-serif;
    margin-bottom: 70px;
    color: rgba(136, 66, 46, 1);
    text-align: center;
    letter-spacing: 0.1em;
}

h3.title{
    font-size: 1em;
    text-align: left;
    font: 600 1em Rajdhani, sans-serif;
}

h4{
    text-align: left;
    font-size: 0.7em;
    color: rgb(177, 131, 117);
}

{

}

 a {
    color: rgb(177, 131, 117);
    text-align: left;
    font: 600 1em Rajdhani, sans-serif;
    padding: 0.6em auto;
}


h3.panel-title{
    background-color: white;
    text-align: left;
    margin: 8px 0;
    padding: 6px;
    width: 100%;
    height: 2em;
    font-size: 1em;
    text-align: left;
    font: 600 1em Rajdhani, sans-serif;
    color: rgb(177, 131, 117);
    text-align: left;
    font: 600 1em Rajdhani, sans-serif;
}



.active, .accordion:hover {
    background-color: rgb(177, 131, 117);
}


.panel {
    margin: 2px 0;
    padding: 10px 24px;
    background-color: white;
    
}

#accordion{

    max-width: 1280px;
    width: 100%;
}

/* Intro Sektion */

.description {
    color: white;
}


#kontaktfeld{
    background-color: white;
}

#whitetext{
    padding-top: 1em;
    color: white;
}
h2,#whitetext{
    padding: 0;
    margin: 0.4em 0 2em 0;
}
#schwarze-schrift{
    padding 0.5em auto;
}

#intro {
    margin-top: 0;
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    font: 300 2em Rajdhani, sans-serif;
    font-size: 40pt;
    color: rgba(136, 66, 46, 1);
    background: url(../images/background_top.png) no-repeat center fixed;
    background-color: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#kontakt_btn_header{
    padding-bottom: 128px;
    padding-left: 0.35em;
}
.header_buttons {
    width: 100%;
    align-items: center;
}
#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro_text{
    color: rgba(136, 66, 46, 255);
}
#intro .intro-body H1 {
    padding: 1em 2em;
    font-weight: 300;
    text-transform: initial;
    color: rgba(133, 66, 44, 1);
}

#intro .intro-body .brand-heading {
    color: #E75926;
    text-shadow: 0 4px #a13e1a;
}

#intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    #intro {
        height: 100%;
        padding: 0;
    }
    #intro .intro-body .intro-text {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 100px;
        color: rgba(133, 66, 44, 1);
    }
}

#kontakt_btn_header : hover{

}
/* Projektbeschreibung */
.projekte_beschreibung, .stellenausschreibung{
    height: 400px;
    margin: 4px auto;
    background-color: #f7f7f7;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}
#projekte {
    width: 100%;
}

h4.title.h3_beschreibung {
    margin-bottom: 3em;
     font-size: 1em;
    text-align: left;
    font: 600 1em Rajdhani, sans-serif;

}

.prj_btn{
    float: right;
    margin-right: 8px;
}


/* Links Stellenausschreibung inaktiv */



.text-right{
    text-align: right;
    overflow: auto;
    max-width: 50px;
}


/* Sektionen IDs */
#jobs{
    background-color: #f7f7f7;
    width: 100%;
    margin: 0 0;
    padding: 13em 0;
}

#Philosophie{
    height: 708px;
    width: 100%;
    min-width: 1280px;
    padding-top: 4em;
    margin: 0 0;
    background: rgb(136,66,46); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(136,66,46,1) 20%, rgba(173,113, 89,1) 50%, rgba(136,66,46,1) 80%); /* FF3.6-15 */  
    background: -webkit-linear-gradient(-45deg, rgba(136,66,46,1) 20%,rgba(173,113, 89,1) 50%,rgba(136,66,46,1) 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(136,66,46,1) 20%,rgba(173,113, 89,1) 50%,rgba(136,66,46,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88422e', endColorstr='#8c4733',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/* Colums */
.col-md-10.col-md-offset-1{
   margin: 224px auto 30px;
   width: 1280px;
}
.row{
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}
.row.projekte_beschreibung{
    margin: 15px auto;
    width: 100%;
}
.col-md-12.col-lg-12{
 width: 100%;
 margin-left: 0;
 margin-right: 0;

}
.col-lg-5{
    margin-right: ;
}
.col-md-12.col-lg-7 h2{
    text-align: left;
    color: rgb(137, 67, 46);
}
.col-md-12.col-lg-7 #h2_beschreibung{
    text-align: left;
    color: rgb(137, 67, 46);
}
.col-md-12.col-lg-7 p{
    text-align: left;
    color: #000;
    height: 90%;
}



.btn-default {
    color: rgba(133, 66, 44, 1);
    background: rgba(133, 66, 44, 1);
    border: 0;
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    color: rgba(136, 66, 46, 1);
    background-color: #a13e1a;
}

.section-title.center {
    padding: 30px 0;
}

.section-title h2,
.section-title.center h2 {
    margin-bottom: 30px;
}


/* Navbar-Sektion */
.navbarsExampleDefault {
    float: right;
    text-align: right;
}

.navbar-right {
    float: right;
}

nav-item active {
    color: rgba(136, 66, 46, 1);
    float: right;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.nav-item .nav-link, {
    font-family: Rajdhani, 300, sans-serif;
}


.navbar {
    background-color: #ffffff;
    text-align: center;
}

.navbar .navbar-brand {
    color: #b18375;
}

.navbar-nav.navbar {
    flex: 1 1 auto;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #b18375;
}

.navbar .navbar-text {
    color: #b18375;
    float: right;
    text-align: right;
}

.navbar .navbar-nav .nav-link {

    float: right;
    color: #b18375;
    border-radius: .25rem;
    margin: 0 0.25em;

}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #b18375;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #b18375;
    background-color: #ffffff;

}

.navbar .navbar-toggle {
    border-color: #ffffff;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #b18375;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #b18375;
    background-color: #ffffff;
    float: right;
}

.navbar .navbar-link {
    color: #b18375;
    float: right ! important;
}

.navbar .navbar-link:hover {
    color: #b18375;
}

.navbar-toggler-icon {
    background-color: #ffffff;

}

.navbar-toggler {

    background-color: #b18375;

}

#navbar {
    float: right;
    text-align: right;
}


@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #b18375;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b18375;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b18375;
        background-color: #ffffff;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #b18375;
        background-color: #ffffff;
        float: right;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b18375;
        background-color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b18375;
        background-color: #ffffff;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #b18375;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b18375;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b18375;
        background-color: #ffffff;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #b18375;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b18375;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b18375;
        background-color: #ffffff;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b18375;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #b18375;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #b18375;
    background-color: #ffffff;
}
.text-right2{
    float: right;
}
#Kontakt{
    width: 100%;
}

#footer {
    background: #f7f7f7;
    color: rgba(136,66,46,1);
    padding-top: 10px!important;
}

#footer a {
    color: rgba(136,66,46,1);
    font-weight: 700;
}

.small_pad {
    padding-top: 20px!important;
}


